
.firstname_sign{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: gray;
    -fx-background-color: FAFF91;
}
.lastname_sign{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: gray;
    -fx-background-color: FAFF91;
}
.username_sign{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: gray;
    -fx-background-color: FAFF91;
}
.password_sign{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: gray;
    -fx-background-color: FAFF91;
}
.password_confirm_sign{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: gray;
    -fx-background-color: FAFF91;
}
.phone_number_sign{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: gray;
    -fx-background-color: FAFF91;
}
.address_sign{
    -fx-border-color: #c6c6c6;
    -fx-background-color: FAFF91;
    -fx-border-width: 2;
}
